doctype html
html 
    head 
        // Adding a title to the html file
        title Learning PUG

        // Using of the CSS style 
        // Need to create a CSS file.
        link(rel="stylesheet", href="style.css")

        //Crating a multi line style
        style.
            p {
                color : Yellow;
                text-decoration: underline;
            }
 
    body 
        // Creating an h1 header
        h1 Learning PUG 
        
        // Creating a multi-line paragraph
        // Also from the CSS styling we can add styles directly
        p(style="text-align: center;").
            This is my large Paragraph 
            And I have more paragraph here
        h2 Welcome to PUG

        // Adding Divs with class and id names
        .mainDiv 
            #firstDiv.firstDiv
            #secondDiv.secondDiv
            .thirdDiv#thirdDiv
        
        // Creating an input element with type attribute
        input(type="password" placehoder="Enter Passord")

        //Advanced PUG | using logic inside the attribute
        input(type="password" placehoder="Enter Passord" data-js= `${5 < 10 ? "Active" : "NOT Active"}`)

        // Creating multi classes of an element using an array
        - const myClasses = ["class1", "class2", "class3"]
        div(class= myClasses)

        // Aslo we can ADD a new class to the array of the classes
        div(class= myClasses).class4

        // Defining the CSS styles
        - const myStyles = {"color" : "red", "background-color" : "blue"}
        div(style = myStyles)

        // Creating an element attribute object const using &attributes
        - const myAttributes = {"src": "myPhoto.png", "alt": "This is my photo"}
        img&attributes(myAttributes)

        //Boolean Attributes
        input(type="text" disabled=false)

        // Using the CSS style by using a JS Object
        - const p2Style = {"text-align" : "center", "text-transform" : "uppercase"};
        div(style= p2Style) This is the Second Paragraph


        // Using of For/Each loop
        // num is the elements in the array
        // index is the index of each element in the array
        - const names = ["Mustafa", "Ammar", "Meena", "Rania", "Rasha"]
        h1 For/Each Loop
        each num, index in names
            p= num + " - index " + index

        // Each Loop Another Example
        h1(style="color:red; justify-self:center") Each-Loop with objects
        - const grades = {"Web Dev" : 85, "Software Design": 90}
        // Note that "index" refers to the actual property name and "grade" takes the value of each object in grades
        each grade, index in grades 
            p(style="color:wheat; text-decoration:none")= grade + " - " + index
        
        // For Loop Another Example
        h1(style="color:lightgreen; justify-self:center") For-Loop with objects
        - const grades1 = {"Web Dev" : 90, "UI / UX": 85, "CSS": 100}
        // for loop comes with "else" in case there are no values in the grades1
        for grade, index in grades1 
            p(style="color:green; text-decoration:none")= grade + " - " + index
        else 
            strong No values are here!

        // If/Else statement
        h2 Using the if statement 
        - let user = { name : "Mustafa", loggedIn : false, lastLogin: 15 }
        if user.loggedIn
            p 
                | Welcome back,
                strong #{ user.name }
        else if user.lastLogin < 6
            p Your last login was less than #{user.lastLogin} minutes. 
        else if user.lastLogin > 6 
            P The session is expired 
            a(href="./login" style="color: lightblue") LogIn here

        else 
            p
                | Your are NOT logged In
            a(href="/login" style="color:orange") Lon In

        
        // Using of the case statement | switch Statement
        // Orderstatus cases | 'Pending | 'In_Transit' | 'Completed'
        - const orderStatus = 'Pending'

        case orderStatus
            when 'Pending'
                p Your Order has been placed.
            when 'In_Transit'
                p Your order is in the transit. 
            when 'Compeleted'
                p Your order hsa been completed.
            default 
                p No Order has been listed

        
        // Includes Statement | Including other Pug files
        h1 Company name
        nav
            a(href="index.html") Home
            a(href="about.html") About us
            a(href="#") Contact us